//MOBILE FIRST
#acercaMain {
    color: $colorFuentePrimario;
    background-color: $colorPrimario;

    #textoAcercaDe {
        margin-top: 5rem;
        padding: 1rem;

        .introduccion {
            background-color: $colorTerceario;
            border-radius: 1rem;

            #introduccionTexto {
                @extend %formatoParrafo;
            }
        }

        .acercaJavier {
            .acercaImagen {
                width: 100%;
                margin-bottom: 2rem;
                border-radius: 1rem;
            }

            .acercaTexto {
                @extend %formatoParrafo
            }

            .contenedorBtnLenguaje {
                justify-content: space-around;

                .btnLenguaje {
                    background-color: $colorTerceario;
                    color: $colorFuentePrimario;
                    border-radius: 1rem;
                    border-bottom: 8px solid $colorSecundario;
                    border-right: 8px solid $colorSecundario;
                    height: 4rem;
                    margin: auto;
                    text-decoration: none;
                    text-align: center;
                    padding-top: 1rem;
                    padding-bottom: 1rem;

                    .btnLenguajeTexto {}
                }
            }
        }
    }

    .subtituloTipoUno {
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .subtituloTipoDos {
        text-align: start;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #academiasSection {

        .card {
            margin-top: 4rem;
            border-radius: 1rem;
            background-color: $colorTerceario;
            height: auto;
            width: 100%;

            .cardImagen {
                border-radius: 1rem 1rem 0rem 0rem;
                padding: 2rem;

            }

            .cardText {
                background-color: $colorCuaternario;
            }


            .tituloAcademia {
                font-size: 24px;
                text-align: center;
                color: $colorFuenteTerceario;
                font-weight: bolder;
            }

            .instructorAcademia {
                text-align: center;
                font-size: 20px;
                color: $colorFuenteTerceario;
                font-weight: bold;
            }
        }

        .cardRedes {
            margin-top: 2rem;
            margin-bottom: 2rem;

            .cardSubRedes {
                justify-content: space-around;

                .cardLinkRedes {
                    text-align: center;

                    .cardLogoRedes {
                        height: 3rem;
                    }
                }
            }
        }
    }

    .accordion-item {
        border-radius: 1rem 1rem 0 0;
        color: $colorFuentePrimario;

        .linkItemAcordion {
            text-decoration: none;
        }

        .accordion-button {
            background: linear-gradient(90deg, $colorPrimario 0%, $colorCuaternario 100%);
            border-radius: 1rem 1rem 0 0;
            font-size: 20px;
            font-weight: bolder;
            color: $colorFuentePrimario;
        }
    }

    .videoYT {
        width: 100%;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }

    .contenedorLogros {
        background-color: $colorTerceario;
        border-radius: 1rem;
        margin-top: 4rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        #logrosTexto {
            @extend %formatoParrafo
        }

        .contenedorLogrosCompetidor,
        .contenedorLogrosEntrenador {
            padding-top: 1rem;
            border-radius: 2rem;
            margin-bottom: 2rem;
        }
    }

    .logrosIcono {
        margin-top: auto;
        margin-bottom: auto;
        height: 3rem;
        width: auto
    }

    hr {
        color: $colorSecundario;
    }

    .eventoNombre {
        color: $colorFuenteTerceario;
        text-align: center;
    }
}

//END MOBILE FIRST



//SMALL TABLET BREAKPOINT

@media (min-width: 768px) {
    #acercaMain {
        margin-top: 6rem;

        #textoAcercaDe {
            .introduccion {
                padding: 1rem;

                #introduccionTexto {
                    font-size: 24px;
                }
            }

            .acercaJavier {
                .subtituloTipoUno {
                    font-size: 3rem;
                }

                .acercaImagen {
                    height: 50rem;
                    width: auto;
                    margin-left: auto;
                    margin-right: auto;
                }

                .subtituloTipoDos {
                    font-size: 2rem;
                }

                .acercaTexto {
                    font-size: 24px;
                }

                .acercaImagenTexto {
                    height: auto;
                    width: 100%;
                }
            }
        }

        .contenedorLogros {
            .subtituloTipoUno {
                font-size: 3rem;
            }

            #logrosTexto {
                font-size: 24px;
            }

            .accordion-item {
                .accordion-header {
                    .accordion-button {
                        height: 6rem;
                        font-size: 24px;
                    }
                }

                .evento {
                    justify-content: space-around;

                    .eventoNombre {
                        font-size: 20px;
                    }
                }
            }
        }

        #academiasSection {
            margin-top: 5rem;
            padding: 0;
            justify-content: space-around;

            .card {
                width: 30%;
                padding: 0px;
                margin: 10px;

                .cardImagen {
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }

                .cardText {
                    height: 12rem;

                    .tituloAcademia,
                    .instructorAcademia {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

//END LARGE TABLET BREAKPOINT 
//SMALL DESKTOP BREAKPOINT
//END SMALL DESKTOP BREAKPOINT


//LARGE DESKTOP BREAKPOINT
@media (min-width: 1400px) {

    #acercaMain {
        #textoAcercaDe {
            .introduccion {
                margin-top: 4rem;

                #introduccionTexto {
                    font-size: 2rem;
                }
            }

            .acercaImagenTexto {
                margin-top: 2rem;
                margin-bottom: 2rem;
            }

            .subtituloTipoUno {
                font-size: 5rem;
            }

            .acercaJavier {
                .subtituloTipoUno {
                    font-size: 5rem;
                }

                .subtituloTipoDos {
                    font-size: 4rem;
                }

                .acercaTexto {
                    font-size: 2rem;
                }
            }
        }

        .contenedorLogros {
            .subtituloTipoUno {
                font-size: 4rem;
            }

            #logrosTexto {
                font-size: 2rem;

            }

            .accordion-item {
                .linkItemAcordion {
                    .accordion-button {
                        font-size: 3rem;
                    }
                }
            }
        }

        .contenedorLogrosCompetidor,
        .contenedorLogrosEntrenador {
            .evento {
                .eventoTexto {
                    .eventoNombre {
                        font-size: 2rem;
                    }
                }

                .logrosIcono {
                    height: 5rem;

                }
            }
        }

        #academiasDiv {
            #academiasSection {
                .subtituloTipoUno {
                    font-size: 5rem;
                }

                .card {
                    .cardImagen {
                        width: 60%;
                        margin-bottom: 2rem;
                    }

                    .cardText {
                        height: 15rem;
                    }

                    .tituloAcademia {
                        font-size: 30px;
                    }

                    .instructorAcademia,
                    .ubicacionAcademia {
                        font-size: 20px;
                    }


                    .cardRedes {

                        .cardSubRedes {

                            .cardLogoRedes {
                                height: 3rem;
                            }
                        }
                    }
                }
            }
        }

    }
}