$colorPrimario: #2e2e2e;
$colorPrimarioTransparent: #2e2e2e85;
$colorSecundario: #151515;
$colorTerceario: #545454;
$colorCuaternario: #bbbbbb;

$colorFuentePrimario: #eeeeee;
$colorFuenteSecundario: #b4b4b4;
$colorFuenteTerceario: #383838