//MOBILE FIRST
#contactMain {
    color: $colorFuentePrimario;
    background-color: $colorPrimario;

    .contactBody {
        margin-top: 8rem;

        .tituloPrimario {
            text-align: center;
            margin-bottom: 2rem;
        }

        .datos {
            margin-top: 4rem;
            text-align: start;

            .subTitulo {
                margin-top: 2rem;
                text-align: start;
                font-size: 1rem;
            }

            .subDato {
                text-align: end;
            }
        }
    }
}

//SMALL DESKTOP BREAKPOINT
@media (min-width: 1200px) {
    #contactMain {

        .container {
            .contactBody {
                margin-top: 14rem;

                .tituloPrimario {
                    font-size: 3rem;
                    text-align: center;
                    margin-bottom: 2rem;
                }
            }

            .datos {
                .subTitulo {
                    font-size: 2rem;
                }

                .subDato {
                    font-size: 24px;
                }
            }
        }
    }
}

//END SMALL DESKTOP BREAKPOINT