%parallax {
    background-image: url("../Multimedia/Main/mainS.jpg");

    height: 16rem;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

%fuenteTitulo {
    color: $colorFuentePrimario;
    font-weight: bold;
    text-align: center;
}

%bordeBoton {
    border-bottom: 2px solid rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
}

%formatoParrafo {
    text-align: justify;
    text-indent: 3rem;
    padding: 1rem;
    margin-bottom: 3rem;
}