footer {
    background-color: $colorSecundario;


    #footerFederation {
        height: 8rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #footerTexto {
        color: $colorFuenteSecundario;
        text-align: center;
        margin: auto
    }

    #footerRedes {
        text-align: center;

        .footerBotonRedes {

            .footerBotonRedesImg {
                height: 3rem;
                border-radius: 1rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}

//END MOBILE FIRST


//LARGE TABLET BREAKPOINT
@media (min-width: 768px) {
    footer {
        #footerTexto {
            font-size: 24px;
            text-align: center;
        }

        #footerRedes {
            .footerBotonRedes {
                .footerBotonRedesImg {
                    height: 4rem;
                }
            }
        }
    }
}

//END LARGE TABLET BREAKPOINT

//SMALL DESKTOP BREAKPOINT
@media (min-width: 1200px) {

    footer {
        margin-top: 8rem;

        div {

            #footerFederation {
                height: 8re;
            }

            #footerTexto {
                font-size: 24px;
            }
        }

        #footerRedes {

            .footerBotonRedes {
                text-align: center;

                .footerBotonRedesImg {
                    height: 4rem;
                    border-radius: 1rem;
                    margin-top: 3rem;
                    margin-bottom: 3rem;
                }
            }
        }
    }
}

//END SMALL DESKTOP BREAKPOINT



//LARGE DESKTOP BREAKPOINT
@media (min-width: 1400px) {

    footer {
        padding-top: 3rem;

        #footerFederation {
            height: 12rem;
            margin: auto;
        }

        #footerTexto {
            font-size: 24px;
            text-align: center;
        }

        #footerRedes {
            margin-top: 2rem;

            .footerBotonRedes {
                .footerBotonRedesImg {
                    height: 4rem;
                    border-radius: 1rem;
                }
            }
        }
    }
}