//MOBILE FIRST 
.navbar {
    .navbar-brand {
        .navbar-imagen {
            height: 4rem;
        }
    }

    .navbar-toggler {
        margin-right: 1rem;
    }

    .collapse {
        .navbar-nav {
            .nav-item {
                margin-left: 1rem;

                .nav-link {
                    color: $colorFuentePrimario;
                }

                .disabled {
                    color: $colorFuenteTerceario;
                }
            }
        }
    }
}

//END MOBILE FIRST



//SMALL TABLET BREAKPOINT
@media (min-width: 576px) {

    .navbar {
        .navbar-brand {
            font-size: 3rem;

            .navbar-imagen {
                height: 6rem;
            }
        }
    }
}

//END SMALL TABLET BREAKPOINT



//SMALL DESKTOP BREAKPOINT
@media (min-width: 1200px) {
    .navbar {
        justify-content: space-around;

        .navbar-brand {
            font-size: 3rem;

            .navbar-imagen {
                height: 8rem;
            }
        }

        .collapse {
            justify-content: end;


            .navbar-nav {
                .nav-item {
                    margin-right: 2rem;
                    font-size: 2rem;

                    .nav-link {
                        color: $colorFuentePrimario;
                    }

                    .nav-link-activo {
                        color: $colorFuenteSecundario;
                    }
                }
            }
        }
    }
}

//END SMALL DESKTOP BREAKPOINT 



//LARGE DESKTOP BREAKPOINT
@media (min-width: 1400px) {
    .navbar {
        .navbar-brand {
            font-size: 4rem;

            .navbar-imagen {
                height: 8rem;

            }
        }
    }
}