// MOBILE FIRST
.mainBody {
    background-color: $colorPrimario;
    justify-items: center;

    .mainImage {
        @extend %parallax;
    }

    #headerMain {
        position: sticky;
        z-index: 2;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        top: -1px;
        background-color: $colorPrimario;

        .subHeaderMain {

            .mainTitle {
                font-size: 1rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                margin-top: 8px;
                @extend %fuenteTitulo;
            }
        }
    }

    .navegacion {
        padding-top: 1rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;

        .botonMain {
            text-decoration: none;
            background: linear-gradient(90deg, $colorSecundario 0%, $colorPrimario 45%);
            @extend %bordeBoton;
            padding: 1rem;
            margin-bottom: 1rem;
            color: $colorFuentePrimario;
            font-size: 20px;
            font-weight: bold;
            border-radius: 1rem;

            &:hover {
                background: linear-gradient(90deg, $colorTerceario 0%, rgba(255, 255, 255, 0) 60%);
                color: $colorFuenteTerceario;
            }
        }
    }

    .federacionContenedor {
        margin-top: 2rem;
        margin-bottom: 4rem;

        .federacionSubContenedor {
            align-items: center;

            #federacionImagen {
                height: fit-content;
            }

            #federacionTexto {
                @extend %fuenteTitulo;
                font-size: 1rem;
            }
        }
    }

    #bloqueNovedades {
        background: linear-gradient(90deg, $colorSecundario 0%, $colorTerceario 45%, $colorSecundario 100%);
        padding-top: 2rem;
        padding-bottom: 2rem;

        #novedades {
            @extend %fuenteTitulo;
            font-size: 3rem;
        }

        .carousel {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
        }
    }
}

//END MOBILE



//SMALL TABLET BREAKPOINT 
@media (min-width: 576px) {
    .mainBody {
        #headerMain {
            .subHeaderMain {
                #mainTitle {
                    font-size: 2rem;
                }

                #mainIcon {
                    height: 8rem;
                    width: auto;
                }
            }
        }

        .navegacion {
            .botonMain {
                font-size: 2rem;
            }
        }
    }
}

//END SMALL TABLET BREAKPOINT 



//LARGE TABLET BREAKPOINT 
@media (min-width: 768px) {
    .mainBody {
        #headerMain {
            .subHeaderMain {
                #mainTitle {
                    font-size: 3rem;
                }

                #mainIcon {
                    height: 10rem;
                    width: auto;
                }
            }
        }

        .botonMain {
            align-content: center;
            height: 8rem;
            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .federacionContenedor {
            .federacionSubContenedor {
                #federacionTexto {
                    font-size: 2rem;
                }
            }
        }

        #novedades {
            font-size: 3rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }
}

//END LARGE TABLET BREAKPOINT



//SMALL DESKTOP BREAKPOINT 
@media (min-width: 1200px) {
    .mainBody {
        #headerMain {
            .subHeaderMain {
                justify-content: space-between;

                #mainTitle {
                    font-size: 3rem;
                }

                #mainIcon {
                    height: 8rem;
                    width: auto;
                }
            }
        }

        .mainImage {
            padding-bottom: 36rem;
        }

        #grilla {
            display: grid;
            grid-template-areas:
                "navegacion federacionContenedor";
            grid-template-columns: 37% 63%;
        }

        .navegacion {
            grid-area: navegacion;
            background-color: $colorPrimario;

            .subNavegacion {
                padding-left: 1rem;
                justify-content: space-between;

                .botonMain {
                    height: 5rem;
                }
            }
        }

        .federacionContenedor {
            margin-top: auto;
            margin-bottom: auto;

            .federacionSubContenedor {
                #federacionImagen {
                    margin-left: auto;
                    margin-right: auto;
                    height: 20rem;
                    width: auto;
                    margin-bottom: 2rem;
                }

                #federacionTexto {
                    font-size: 24px;
                }
            }
        }

        #novedades {
            font-size: 2rem;
        }

        .carousel {
            margin-left: auto;
            width: 40%;
        }
    }
}

//END SMALL DESKTOP BREAKPOINT



//LARGE DESKTOP BREAKPOINT
@media (min-width: 1400px) {
    .mainBody {
        .mainImage {
            @extend %parallax;
            padding-bottom: 40rem;
        }

        #headerMain {
            .subHeaderMain {
                justify-content: space-around;
                padding-top: 3rem;
                padding-bottom: 0rem;

                #mainIcon {
                    height: 12rem;
                    width: auto;
                }

                #mainTitle {
                    font-size: 4rem;
                }
            }
        }

        #grilla {
            margin-bottom: 5rem;

            .navegacion {
                .subNavegacion {
                    .botonMain {
                        height: auto;
                        padding: 1rem;
                        margin-bottom: 2rem;
                        font-size: 3rem;
                        font-weight: bold;
                        padding-left: 4rem;
                        border-radius: 2rem;
                    }
                }
            }

            .federacionContenedor {
                .federacionSubContenedor {
                    #federacionTexto {
                        margin-left: auto;
                        margin-right: auto;
                        font-size: 3rem;
                    }
                }
            }
        }

        #novedades {
            font-size: 4rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }
}