.mainBody .mainImage {
  background-image: url(../../Multimedia/Main/mainS.jpg);
  height: 16rem;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.mainBody #bloqueNovedades #novedades, .mainBody .federacionContenedor .federacionSubContenedor #federacionTexto, .mainBody #headerMain .subHeaderMain .mainTitle {
  color: #eeeeee;
  font-weight: bold;
  text-align: center;
}

.mainBody .navegacion .botonMain {
  border-bottom: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
}

footer {
  background-color: #151515;
}
footer #footerFederation {
  height: 8rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
footer #footerTexto {
  color: #b4b4b4;
  text-align: center;
  margin: auto;
}
footer #footerRedes {
  text-align: center;
}
footer #footerRedes .footerBotonRedes .footerBotonRedesImg {
  height: 3rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  footer #footerTexto {
    font-size: 24px;
    text-align: center;
  }
  footer #footerRedes .footerBotonRedes .footerBotonRedesImg {
    height: 4rem;
  }
}
@media (min-width: 1200px) {
  footer {
    margin-top: 8rem;
  }
  footer div #footerFederation {
    height: 8re;
  }
  footer div #footerTexto {
    font-size: 24px;
  }
  footer #footerRedes .footerBotonRedes {
    text-align: center;
  }
  footer #footerRedes .footerBotonRedes .footerBotonRedesImg {
    height: 4rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1400px) {
  footer {
    padding-top: 3rem;
  }
  footer #footerFederation {
    height: 12rem;
    margin: auto;
  }
  footer #footerTexto {
    font-size: 24px;
    text-align: center;
  }
  footer #footerRedes {
    margin-top: 2rem;
  }
  footer #footerRedes .footerBotonRedes .footerBotonRedesImg {
    height: 4rem;
    border-radius: 1rem;
  }
}
.mainBody {
  background-color: #2e2e2e;
  justify-items: center;
}
.mainBody #headerMain {
  position: sticky;
  z-index: 2;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  top: -1px;
  background-color: #2e2e2e;
}
.mainBody #headerMain .subHeaderMain .mainTitle {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 8px;
}
.mainBody .navegacion {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.mainBody .navegacion .botonMain {
  background: linear-gradient(90deg, #151515 0%, #2e2e2e 45%);
  padding: 1rem;
  margin-bottom: 1rem;
  color: #eeeeee;
  font-size: 20px;
  font-weight: bold;
  border-radius: 1rem;
}
.mainBody .navegacion .botonMain:hover {
  background: linear-gradient(90deg, #888888 0%, rgba(255, 255, 255, 0) 60%);
  color: #151515;
}
.mainBody .federacionContenedor {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.mainBody .federacionContenedor .federacionSubContenedor {
  align-items: center;
}
.mainBody .federacionContenedor .federacionSubContenedor #federacionImagen {
  height: -moz-fit-content;
  height: fit-content;
}
.mainBody .federacionContenedor .federacionSubContenedor #federacionTexto {
  font-size: 1rem;
}
.mainBody #bloqueNovedades {
  background: linear-gradient(90deg, #151515 0%, #888888 45%, #151515 100%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.mainBody #bloqueNovedades #novedades {
  font-size: 2rem;
}
.mainBody #bloqueNovedades .carousel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .mainBody .mainImage {
    height: 26rem;
  }
  .mainBody #headerMain .subHeaderMain .mainTitle {
    font-size: 3rem;
  }
  .mainBody .botonMain {
    align-content: center;
    height: 8rem;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .mainBody .federacionContenedor .federacionSubContenedor #federacionTexto {
    font-size: 2rem;
  }
  .mainBody #novedades {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  .mainBody .mainImage {
    padding-bottom: 36rem;
  }
  .mainBody #grilla {
    display: grid;
    grid-template-areas: "navegacion federacionContenedor";
    grid-template-columns: 37% 63%;
  }
  .mainBody .navegacion {
    grid-area: navegacion;
    background-color: #2e2e2e;
  }
  .mainBody .navegacion .subNavegacion {
    padding-left: 1rem;
    justify-content: space-between;
  }
  .mainBody .navegacion .subNavegacion .botonMain {
    height: 4rem;
    padding: 1rem;
    margin-bottom: 0px;
  }
  .mainBody .federacionContenedor {
    margin-top: auto;
    margin-bottom: auto;
  }
  .mainBody .federacionContenedor .federacionSubContenedor #federacionImagen {
    margin-left: auto;
    margin-right: auto;
    height: 20rem;
    width: auto;
    margin-bottom: 2rem;
  }
  .mainBody .federacionContenedor .federacionSubContenedor #federacionTexto {
    font-size: 24px;
  }
  .mainBody #novedades {
    font-size: 2rem;
  }
  .mainBody .carousel {
    margin-left: auto;
    width: 40%;
  }
}
@media (min-width: 1400px) {
  .mainBody .mainImage {
    padding-bottom: 40rem;
  }
  .mainBody #headerMain .subHeaderMain {
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 0rem;
  }
  .mainBody #headerMain .subHeaderMain #mainIcon {
    height: 15rem;
    width: auto;
  }
  .mainBody #headerMain .subHeaderMain .mainTitle {
    font-size: 4rem;
  }
  .mainBody #grilla {
    margin-bottom: 5rem;
  }
  .mainBody #grilla .navegacion .subNavegacion .botonMain {
    height: auto;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 4rem;
    border-radius: 2rem;
  }
  .mainBody #grilla .federacionContenedor .federacionSubContenedor #federacionTexto {
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
  }
  .mainBody #novedades {
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
* {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */