@charset "UTF-8";
.mainBody .mainImage {
  background-image: url("../Multimedia/Main/mainS.jpg");
  height: 16rem;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

#galleryMain .sectorGaleriaTexto .sectorGaleriaTextoLink, .mainBody .contenedorCertificadoNovedades #bloqueNovedades #novedades, .mainBody .federacionContenedor .federacionSubContenedor #federacionTexto, .mainBody #headerMain .subHeaderMain .mainTitle {
  color: #eeeeee;
  font-weight: bold;
  text-align: center;
}

.mainBody .navegacion .botonMain {
  border-bottom: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
}

#acercaMain .contenedorLogros #logrosTexto, #acercaMain #textoAcercaDe .acercaJavier .acercaTexto, #acercaMain #textoAcercaDe .introduccion #introduccionTexto {
  text-align: justify;
  text-indent: 3rem;
  padding: 1rem;
  margin-bottom: 3rem;
}

.navbar .navbar-brand .navbar-imagen {
  height: 4rem;
}
.navbar .navbar-toggler {
  margin-right: 1rem;
}
.navbar .collapse .navbar-nav .nav-item {
  margin-left: 1rem;
}
.navbar .collapse .navbar-nav .nav-item .nav-link {
  color: #eeeeee;
}
.navbar .collapse .navbar-nav .nav-item .disabled {
  color: #383838;
}

@media (min-width: 576px) {
  .navbar .navbar-brand {
    font-size: 3rem;
  }
  .navbar .navbar-brand .navbar-imagen {
    height: 6rem;
  }
}
@media (min-width: 1200px) {
  .navbar {
    justify-content: space-around;
  }
  .navbar .navbar-brand {
    font-size: 3rem;
  }
  .navbar .navbar-brand .navbar-imagen {
    height: 8rem;
  }
  .navbar .collapse {
    justify-content: end;
  }
  .navbar .collapse .navbar-nav .nav-item {
    margin-right: 2rem;
    font-size: 2rem;
  }
  .navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #eeeeee;
  }
  .navbar .collapse .navbar-nav .nav-item .nav-link-activo {
    color: #b4b4b4;
  }
}
@media (min-width: 1400px) {
  .navbar .navbar-brand {
    font-size: 4rem;
  }
  .navbar .navbar-brand .navbar-imagen {
    height: 8rem;
  }
}
footer {
  background-color: #151515;
  margin-top: 2rem;
}
footer #footerFederation {
  height: 8rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
footer #footerTexto {
  color: #b4b4b4;
  text-align: center;
  margin: auto;
}
footer #footerRedes {
  text-align: center;
}
footer #footerRedes .footerBotonRedes .footerBotonRedesImg {
  height: 3rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  footer #footerTexto {
    font-size: 24px;
    text-align: center;
  }
  footer #footerRedes .footerBotonRedes .footerBotonRedesImg {
    height: 4rem;
  }
}
@media (min-width: 1200px) {
  footer {
    margin-top: 8rem;
  }
  footer div #footerFederation {
    height: 8rem;
  }
  footer div #footerTexto {
    font-size: 24px;
  }
  footer #footerRedes .footerBotonRedes {
    text-align: center;
  }
  footer #footerRedes .footerBotonRedes .footerBotonRedesImg {
    height: 4rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1400px) {
  footer {
    padding-top: 3rem;
  }
  footer #footerFederation {
    height: 12rem;
    margin: auto;
  }
  footer #footerTexto {
    font-size: 24px;
    text-align: center;
  }
  footer #footerRedes {
    margin-top: 2rem;
  }
  footer #footerRedes .footerBotonRedes .footerBotonRedesImg {
    height: 4rem;
    border-radius: 1rem;
  }
}
.mainBody {
  background-color: #2e2e2e;
  justify-items: center;
}
.mainBody #headerMain {
  position: sticky;
  z-index: 2;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  top: -1px;
  background-color: #2e2e2e;
}
.mainBody #headerMain .subHeaderMain .mainTitle {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 8px;
}
.mainBody .navegacion {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.mainBody .navegacion .botonMain {
  text-decoration: none;
  background: linear-gradient(90deg, #151515 0%, #2e2e2e 45%);
  padding: 1rem;
  margin-bottom: 1rem;
  color: #eeeeee;
  font-size: 20px;
  font-weight: bold;
  border-radius: 1rem;
}
.mainBody .navegacion .botonMain:hover {
  background: linear-gradient(90deg, #545454 0%, rgba(255, 255, 255, 0) 60%);
  color: #383838;
}
.mainBody .federacionContenedor {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.mainBody .federacionContenedor .federacionSubContenedor {
  align-items: center;
}
.mainBody .federacionContenedor .federacionSubContenedor #federacionImagen {
  height: -moz-fit-content;
  height: fit-content;
}
.mainBody .federacionContenedor .federacionSubContenedor #federacionTexto {
  font-size: 1rem;
}
.mainBody .contenedorCertificadoNovedades .certificado .imgCertificado {
  width: 100%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}
.mainBody .contenedorCertificadoNovedades #bloqueNovedades {
  background: linear-gradient(90deg, #151515 0%, #545454 45%, #151515 100%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.mainBody .contenedorCertificadoNovedades #bloqueNovedades #novedades {
  font-size: 3rem;
}
.mainBody .contenedorCertificadoNovedades #bloqueNovedades .carousel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .mainBody #headerMain .subHeaderMain #mainTitle {
    font-size: 2rem;
  }
  .mainBody #headerMain .subHeaderMain #mainIcon {
    height: 8rem;
    width: auto;
  }
  .mainBody .navegacion .botonMain {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .mainBody #headerMain .subHeaderMain #mainTitle {
    font-size: 3rem;
  }
  .mainBody #headerMain .subHeaderMain #mainIcon {
    height: 10rem;
    width: auto;
  }
  .mainBody .botonMain {
    align-content: center;
    height: 8rem;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .mainBody .federacionContenedor .federacionSubContenedor #federacionTexto {
    font-size: 2rem;
  }
  .mainBody .contenedorCertificadoNovedades {
    justify-content: space-around;
  }
  .mainBody .contenedorCertificadoNovedades .certificado {
    padding: 2rem;
  }
  .mainBody .contenedorCertificadoNovedades #bloqueNovedades {
    background: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .mainBody .contenedorCertificadoNovedades #bloqueNovedades #novedades {
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .mainBody .contenedorCertificadoNovedades #bloqueNovedades .carousel {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .mainBody #headerMain .subHeaderMain {
    justify-content: space-between;
  }
  .mainBody #headerMain .subHeaderMain #mainTitle {
    font-size: 3rem;
  }
  .mainBody #headerMain .subHeaderMain #mainIcon {
    height: 8rem;
    width: auto;
  }
  .mainBody .mainImage {
    padding-bottom: 36rem;
  }
  .mainBody #grilla {
    display: grid;
    grid-template-areas: "navegacion federacionContenedor";
    grid-template-columns: 37% 63%;
  }
  .mainBody .navegacion {
    grid-area: navegacion;
    background-color: #2e2e2e;
  }
  .mainBody .navegacion .subNavegacion {
    padding-left: 1rem;
    justify-content: space-between;
  }
  .mainBody .navegacion .subNavegacion .botonMain {
    height: 5rem;
  }
  .mainBody .federacionContenedor {
    margin-top: auto;
    margin-bottom: auto;
  }
  .mainBody .federacionContenedor .federacionSubContenedor #federacionImagen {
    margin-left: auto;
    margin-right: auto;
    height: 20rem;
    width: auto;
    margin-bottom: 2rem;
  }
  .mainBody .federacionContenedor .federacionSubContenedor #federacionTexto {
    font-size: 24px;
  }
  .mainBody .contenedorCertificadoNovedades {
    background-color: #545454;
  }
  .mainBody .contenedorCertificadoNovedades #bloqueNovedades #novedades {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .mainBody .contenedorCertificadoNovedades #bloqueNovedades .carousel {
    margin-left: auto;
    height: 80%;
  }
}
@media (min-width: 1400px) {
  .mainBody .mainImage {
    padding-bottom: 40rem;
  }
  .mainBody #headerMain .subHeaderMain {
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 0rem;
  }
  .mainBody #headerMain .subHeaderMain #mainIcon {
    height: 12rem;
    width: auto;
  }
  .mainBody #headerMain .subHeaderMain #mainTitle {
    font-size: 4rem;
  }
  .mainBody #grilla {
    margin-bottom: 5rem;
  }
  .mainBody #grilla .navegacion .subNavegacion .botonMain {
    height: auto;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 4rem;
    border-radius: 2rem;
  }
  .mainBody #grilla .federacionContenedor .federacionSubContenedor #federacionTexto {
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
  }
  .mainBody #novedades {
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
#acercaMain {
  color: #eeeeee;
  background-color: #2e2e2e;
}
#acercaMain #textoAcercaDe {
  margin-top: 5rem;
  padding: 1rem;
}
#acercaMain #textoAcercaDe .introduccion {
  background-color: #545454;
  border-radius: 1rem;
}
#acercaMain #textoAcercaDe .acercaJavier .acercaImagen {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
#acercaMain #textoAcercaDe .acercaJavier .contenedorBtnLenguaje {
  justify-content: space-around;
}
#acercaMain #textoAcercaDe .acercaJavier .contenedorBtnLenguaje .btnLenguaje {
  background-color: #545454;
  color: #eeeeee;
  border-radius: 1rem;
  border-bottom: 8px solid #151515;
  border-right: 8px solid #151515;
  height: 4rem;
  margin: auto;
  text-decoration: none;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#acercaMain .subtituloTipoUno {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
#acercaMain .subtituloTipoDos {
  text-align: start;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
#acercaMain #academiasSection .card {
  margin-top: 4rem;
  border-radius: 1rem;
  background-color: #545454;
  height: auto;
  width: 100%;
}
#acercaMain #academiasSection .card .cardImagen {
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 2rem;
}
#acercaMain #academiasSection .card .cardText {
  background-color: #bbbbbb;
}
#acercaMain #academiasSection .card .tituloAcademia {
  font-size: 24px;
  text-align: center;
  color: #383838;
  font-weight: bolder;
}
#acercaMain #academiasSection .card .instructorAcademia {
  text-align: center;
  font-size: 20px;
  color: #383838;
  font-weight: bold;
}
#acercaMain #academiasSection .cardRedes {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#acercaMain #academiasSection .cardRedes .cardSubRedes {
  justify-content: space-around;
}
#acercaMain #academiasSection .cardRedes .cardSubRedes .cardLinkRedes {
  text-align: center;
}
#acercaMain #academiasSection .cardRedes .cardSubRedes .cardLinkRedes .cardLogoRedes {
  height: 3rem;
}
#acercaMain .accordion-item {
  border-radius: 1rem 1rem 0 0;
  color: #eeeeee;
}
#acercaMain .accordion-item .linkItemAcordion {
  text-decoration: none;
}
#acercaMain .accordion-item .accordion-button {
  background: linear-gradient(90deg, #2e2e2e 0%, #bbbbbb 100%);
  border-radius: 1rem 1rem 0 0;
  font-size: 20px;
  font-weight: bolder;
  color: #eeeeee;
}
#acercaMain .videoYT {
  height: auto;
  width: 100%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
#acercaMain .contenedorLogros {
  background-color: #545454;
  border-radius: 1rem;
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#acercaMain .contenedorLogros .contenedorLogrosCompetidor,
#acercaMain .contenedorLogros .contenedorLogrosEntrenador {
  padding-top: 1rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
#acercaMain .logrosIcono {
  margin-top: auto;
  margin-bottom: auto;
  height: 3rem;
  width: auto;
}
#acercaMain hr {
  color: #151515;
}
#acercaMain .eventoNombre {
  color: #383838;
  text-align: center;
}

@media (min-width: 768px) {
  #acercaMain {
    margin-top: 6rem;
  }
  #acercaMain #textoAcercaDe .introduccion {
    padding: 1rem;
  }
  #acercaMain #textoAcercaDe .introduccion #introduccionTexto {
    font-size: 24px;
  }
  #acercaMain #textoAcercaDe .acercaJavier .subtituloTipoUno {
    font-size: 3rem;
  }
  #acercaMain #textoAcercaDe .acercaJavier .acercaImagen {
    height: 50rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #acercaMain #textoAcercaDe .acercaJavier .subtituloTipoDos {
    font-size: 2rem;
  }
  #acercaMain #textoAcercaDe .acercaJavier .acercaTexto {
    font-size: 24px;
  }
  #acercaMain #textoAcercaDe .acercaJavier .acercaImagenTexto {
    height: auto;
    width: 100%;
  }
  #acercaMain .contenedorLogros .subtituloTipoUno {
    font-size: 3rem;
  }
  #acercaMain .contenedorLogros #logrosTexto {
    font-size: 24px;
  }
  #acercaMain .contenedorLogros .accordion-item .accordion-header .accordion-button {
    height: 6rem;
    font-size: 24px;
  }
  #acercaMain .contenedorLogros .accordion-item .evento {
    justify-content: space-around;
  }
  #acercaMain .contenedorLogros .accordion-item .evento .eventoNombre {
    font-size: 20px;
  }
  #acercaMain #academiasSection {
    margin-top: 5rem;
    padding: 0;
    justify-content: space-around;
  }
  #acercaMain #academiasSection .card {
    width: 30%;
    padding: 0px;
    margin: 10px;
  }
  #acercaMain #academiasSection .card .cardImagen {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #acercaMain #academiasSection .card .cardText {
    height: 12rem;
  }
  #acercaMain #academiasSection .card .cardText .tituloAcademia,
  #acercaMain #academiasSection .card .cardText .instructorAcademia {
    font-size: 15px;
  }
}
@media (min-width: 1400px) {
  #acercaMain #textoAcercaDe .introduccion {
    margin-top: 4rem;
  }
  #acercaMain #textoAcercaDe .introduccion #introduccionTexto {
    font-size: 2rem;
  }
  #acercaMain #textoAcercaDe .acercaImagenTexto {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #acercaMain #textoAcercaDe .subtituloTipoUno {
    font-size: 5rem;
  }
  #acercaMain #textoAcercaDe .acercaJavier .subtituloTipoUno {
    font-size: 5rem;
  }
  #acercaMain #textoAcercaDe .acercaJavier .subtituloTipoDos {
    font-size: 4rem;
  }
  #acercaMain #textoAcercaDe .acercaJavier .acercaTexto {
    font-size: 2rem;
  }
  #acercaMain .contenedorLogros .subtituloTipoUno {
    font-size: 4rem;
  }
  #acercaMain .contenedorLogros #logrosTexto {
    font-size: 2rem;
  }
  #acercaMain .contenedorLogros .accordion-item .linkItemAcordion .accordion-button {
    font-size: 3rem;
  }
  #acercaMain .contenedorLogrosCompetidor .evento .eventoTexto .eventoNombre,
  #acercaMain .contenedorLogrosEntrenador .evento .eventoTexto .eventoNombre {
    font-size: 2rem;
  }
  #acercaMain .contenedorLogrosCompetidor .evento .logrosIcono,
  #acercaMain .contenedorLogrosEntrenador .evento .logrosIcono {
    height: 5rem;
  }
  #acercaMain #academiasDiv #academiasSection .subtituloTipoUno {
    font-size: 5rem;
  }
  #acercaMain #academiasDiv #academiasSection .card .cardImagen {
    width: 60%;
    margin-bottom: 2rem;
  }
  #acercaMain #academiasDiv #academiasSection .card .cardText {
    height: 15rem;
  }
  #acercaMain #academiasDiv #academiasSection .card .tituloAcademia {
    font-size: 30px;
  }
  #acercaMain #academiasDiv #academiasSection .card .instructorAcademia,
  #acercaMain #academiasDiv #academiasSection .card .ubicacionAcademia {
    font-size: 20px;
  }
  #acercaMain #academiasDiv #academiasSection .card .cardRedes .cardSubRedes .cardLogoRedes {
    height: 3rem;
  }
}
#galleryMain {
  color: #eeeeee;
  background-color: #2e2e2e;
  margin-top: 4rem;
  padding: 1rem;
}
#galleryMain .sectorGaleriaTexto .sectorGaleriaTextoLink {
  text-decoration: none;
  color: #eeeeee;
  font-size: 24px;
}
#galleryMain .sectorGaleriaTexto .sectorGaleriaTextoParrafo {
  text-indent: 2rem;
  margin-top: 2rem;
  text-align: justify;
}
#galleryMain .sectorGaleriaImagenLink {
  width: 100%;
}

#galleryClasesMain,
#galleryCompeticionMain {
  margin-top: 8rem;
  background-color: #2e2e2e;
}
#galleryClasesMain .galeriaContenedor,
#galleryCompeticionMain .galeriaContenedor {
  background-size: 100%;
  margin-top: 8rem;
}
#galleryClasesMain .galeriaContenedor .galeriaTitulo,
#galleryCompeticionMain .galeriaContenedor .galeriaTitulo {
  color: #eeeeee;
  background-color: rgba(46, 46, 46, 0.5215686275);
  text-align: center;
}
#galleryClasesMain .galeriaContenedor .botonGaleria,
#galleryCompeticionMain .galeriaContenedor .botonGaleria {
  background-color: #545454;
  border-bottom: 5px solid #151515;
  border-right: 5px solid #151515;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: #eeeeee;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#galleryClasesMain .galeriaContenedor,
#galleryCompeticionMain .galeriaContenedor {
  background-size: 100%;
  margin-top: 4rem;
  padding-top: 10rem;
}
#galleryClasesMain .sectorClasesGaleriaUno,
#galleryCompeticionMain .sectorClasesGaleriaUno {
  background-image: url("../Multimedia/Gallery/Galería1/main.jpg");
  margin-top: 8rem;
}
#galleryClasesMain .sectorClasesGaleriaDos,
#galleryCompeticionMain .sectorClasesGaleriaDos {
  background-image: url("../Multimedia/Gallery/Galería2/main.jpg");
}
#galleryClasesMain .sectorCompeticionGaleriaUno,
#galleryCompeticionMain .sectorCompeticionGaleriaUno {
  background-image: url("../Multimedia/Gallery/Galería3/2.jpg");
}
#galleryClasesMain .sectorCompeticionGaleriaDos,
#galleryCompeticionMain .sectorCompeticionGaleriaDos {
  background-image: url("../Multimedia/Gallery/Galería4/1.jpg");
}
#galleryClasesMain .sectorCompeticionGaleriaTres,
#galleryCompeticionMain .sectorCompeticionGaleriaTres {
  background-image: url("../Multimedia/Gallery/Galería5/main.jpg");
}

@media (min-width: 576px) {
  #galleryMain {
    margin-top: 8rem;
    padding: 1rem;
    font-size: 1rem;
  }
  #galleryClasesMain,
  #galleryCompeticionMain {
    margin-top: 10rem;
    background-color: #2e2e2e;
  }
}
@media (min-width: 768px) {
  #galleryClasesMain {
    margin-top: 10rem;
    background-color: #2e2e2e;
  }
  #galleryClasesMain .galeriaContenedor {
    background-size: 100%;
    padding-top: 18rem;
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 10px;
  }
  #galleryCompeticionMain {
    margin-top: 10rem;
    background-color: #2e2e2e;
  }
  #galleryCompeticionMain .galeriaContenedor {
    background-size: 100%;
    padding-top: 18rem;
    margin-right: 3rem;
    margin-left: 3rem;
    border-radius: 10px;
  }
}
@media (min-width: 1200px) {
  #galleryMain {
    margin-top: 12rem;
    padding: 1rem;
    font-size: 1rem;
  }
  #galleryMain .sectorGaleriaTextoParrafo {
    font-size: 24px;
  }
  #galleryClasesMain {
    margin-top: 10rem;
    background-color: #2e2e2e;
  }
  #galleryClasesMain .galeriaContenedor {
    background-size: 100%;
    padding-top: 18rem;
    margin-right: 20rem;
    margin-left: 20rem;
    border-radius: 10px;
  }
  #galleryCompeticionMain {
    margin-top: 10rem;
    background-color: #2e2e2e;
  }
  #galleryCompeticionMain .galeriaContenedor {
    background-size: 100%;
    padding-top: 18rem;
    margin-right: 30rem;
    margin-left: 30rem;
    border-radius: 10px;
  }
}
#contactMain {
  color: #eeeeee;
  background-color: #2e2e2e;
}
#contactMain .contactBody {
  margin-top: 8rem;
}
#contactMain .contactBody .tituloPrimario {
  text-align: center;
  margin-bottom: 2rem;
}
#contactMain .contactBody .datos {
  margin-top: 4rem;
  text-align: start;
}
#contactMain .contactBody .datos .subTitulo {
  margin-top: 2rem;
  text-align: start;
  font-size: 1rem;
}
#contactMain .contactBody .datos .subDato {
  text-align: end;
}

@media (min-width: 1200px) {
  #contactMain .container .contactBody {
    margin-top: 14rem;
  }
  #contactMain .container .contactBody .tituloPrimario {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  #contactMain .container .datos .subTitulo {
    font-size: 2rem;
  }
  #contactMain .container .datos .subDato {
    font-size: 24px;
  }
}
* {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */